<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-md-5">
          <label for="name"></label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="col-md-2">
          <label for="amount"></label>
          <input type="text" class="form-control" id="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-sm">Small button</button>
          <button type="button" class="btn btn-danger btn-sm">Small button</button>
          <button type="reset" class="btn btn-warning btn-sm">Small button</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
